
    <div class="container-fluid position-relative p-0">

        <div class="top-btns col-md-4">
            <div>
                <button class="logout btn-dark text-white"><a class="text-decoration-none text-white" href="/addadmin">Add admin</a></button>

            </div>
            <div>
                <button class="logout btn-dark text-white"><a class="text-decoration-none text-white" href="/adminlogout">Log out</a></button>
            </div>
            <% if(admin) { %>
            <div>
                <button class="logout btn-dark text-white"><%= admin.fname %></button>
            </div>
            <% } %>
            <div>
                <button class="logout btn-dark text-white " id="download-pdf">Download
                    pdf</button>

            </div>

        </div>

        
    

        <section id="canvas">
            <div class="total-card">
                <div class="total">
                    <h1><span id="Single">1200</span></h1>
                    <a href="#">Total Sales</a>
                </div>
                <div class="total total-revenue">
                    <h1><span id="Single1">1500</span></h1>
                    <a href="#">Total Revenue</a>
                </div>
                <div class="total total-user">
                    <h1><span id="Single2">1300</span></h1>
                    <a href="#">Total Users</a>
                </div>
            </div>
            <div class="chart">
                <canvas id="myChart"></canvas>
                <canvas id="lineChart"></canvas>
            </div>


        </section>

    </div>

    <script>
    let list = document.querySelectorAll(".side-menu");
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = function () {
                let j = 0;
                while (j < list.length) {
                    list[j].classList.remove("active");
                    list[j].classList.add("side-menu");
                    j++;
                }
                list[i].classList.remove("side-menu")
                list[i].classList.add("active")
            }
        }
        </script>
    <script>
        var xValues = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        var yValues = [550, 490, 1440, 1240, 1500, 990, 1100, 600];
        let yValue2 = [220, 880, 770, 1400, 1300, 1100, 280];
        let yValue3 = [550, 490, 1440, 1240, 1500, 990, 1100, 600];
        var barColors = ["#ec8888"];
        let barColors2 = ["#6bcbe0"];
        let barColors3 = ["#56dead"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Total Sales",
                    backgroundColor: barColors,
                    data: yValues
                }, {
                    label: "Total Revenue",
                    backgroundColor: barColors2,
                    data: yValue2

                }, {
                    label: "Total Users",
                    backgroundColor: barColors3,
                    data: yValue3
                }],
                options: {
                    legend: { display: true },
                    title: {
                        display: true,
                        text: "sales"
                    }
                }
            }
        });

    </script>
    <script>
        var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

        new Chart("lineChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Total sales",
                    data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                    borderColor: "#ec8888",
                    fill: false
                }, {
                    label: "Total Revenue",
                    data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                    borderColor: "#6bcbe0",
                    fill: false
                }, {
                    label: "Total Users",
                    data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                    borderColor: "#56dead",
                    fill: false
                }]
            },
            options: {
                legend: { display: false }
            }
        });

        // document.getElementById('download-pdf').addEventListener("click", downloadPDF);
        //donwload pdf from original canvas
        
            $('#download-pdf').click(function (event) {
                // get size of report page
                var reportPageHeight = $('.chart').innerHeight();
                var reportPageWidth = $('.chart').innerWidth();

                // create a new canvas object that we will populate with all other canvas objects
                var pdfCanvas = $('<canvas />').attr({
                    id: "canvaspdf",
                    width: reportPageWidth,
                    height: reportPageHeight
                });

                // keep track canvas position
                var pdfctx = $(pdfCanvas)[0].getContext('2d');
                var pdfctxX = 0;
                var pdfctxY = 0;
                var buffer = 100;

                // for each chart.js chart
                $("canvas").each(function (index) {
                    // get the chart height/width
                    var canvasHeight = $(this).innerHeight();
                    var canvasWidth = $(this).innerWidth();

                    // draw the chart into the new canvas
                    pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
                    pdfctxX += canvasWidth + buffer;

                    // our report page is in a grid pattern so replicate that in the new canvas
                    if (index % 2 === 1) {
                        pdfctxX = 0;
                        pdfctxY += canvasHeight + buffer;
                    }
                });

                // create new pdf and add our new canvas as an image
                var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
                pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);

                // download the pdf
                pdf.save('canvas.pdf');
            });
           
        
    </script>
    <script>

$({ Counter: 0 }).animate({
  Counter: $('#Single').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single').text(Math.ceil(this.Counter));
  }
});
$({ Counter: 0 }).animate({
  Counter: $('#Single1').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single1').text(Math.ceil(this.Counter));
  }
});
$({ Counter: 0 }).animate({
  Counter: $('#Single2').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single2').text(Math.ceil(this.Counter));
  }
});
    </script>


<!-- <script>

    const addadminbtn = document.getElementById('addadmin');

    addadminbtn.addEventListener('click',async (e)=>{
        e.preventDefault();

       await fetch('/addadmin',{
            method:'GET'
        })
    })

</script>
 -->
