<section class="login">
    <h3 class="text-white mt-3 mb-3">Login</h3>
    <i class="fa-solid fa-lock"></i>
    <form action="">
        <div class="label">
            <label for="username">username</label>
            <input type="text">
        </div>
        <div class="label">
            <label for="username">password</label>
            <input type="password">
        </div>
        <div class="label">
            <button type="submit" id="loginbtn">Log in</button>
        </div>

    </form>

</section>