
    <!-- <div class="container-fluid position-relative p-0"> -->

        
   
    
        
        <section id="canvas">
            <div class="total-card">
                <div class="total">
                    <h1><span id="Single"><%= totalRevenue %></span></h1>
                    <a href="#">Total Revenue</a>
                </div>
                <div class="total total-revenue">
                    <h1><span id="Single1"><%= totalOrder %></span></h1>
                    <a href="#">Total Orders </a>
                </div>
                <div class="total total-user">
                    <h1><span id="Single2"><%= userCount%></span></h1>
                    <a href="#">Total Users</a>
                </div>
            </div>
            <div class="chart">
                <canvas id="myChart" class=""></canvas>
                <canvas id="lineChart" class="mx-3"></canvas>
            </div>

            <div style="margin-bottom:100px;margin-top: 100px;" class="text-right">
                <button class="logout btn-dark text-white " id="download-pdf">Download
                    pdf</button>
        
            </div>
        </section>

       

    <!-- </div> -->

    <script>
    let list = document.querySelectorAll(".side-menu");
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = function () {
                let j = 0;
                while (j < list.length) {
                    list[j].classList.remove("active");
                    list[j].classList.add("side-menu");
                    j++;
                }
                list[i].classList.remove("side-menu")
                list[i].classList.add("active")
            }
        }
        </script>
    <script>
        const totalrevenue = document.getElementById('Single').textContent
        const totalorder = document.getElementById('Single1').textContent
        const totaluser = document.getElementById('Single2').textContent
        console.log(totalrevenue,totalorder,totaluser);
        var xValues = ["Total"];
        var barColors = ["#ec8888"];
        let barColors2 = ["#6bcbe0"];
        let barColors3 = ["#56dead"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Total revenue",
                    backgroundColor: barColors,
                    data: totalrevenue
                }, {
                    label: "Total orders",
                    backgroundColor: barColors2,
                    data: totalorder

                }, {
                    label: "Total Users",
                    backgroundColor: barColors3,
                    data: totaluser
                }],
                options: {
                    legend: { display: true },
                    title: {
                        display: true,
                        text: "sales"
                    }
                }
            }
        });

    </script>
    <script>
       var xValues = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

        new Chart("lineChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Total revenue",
                    data: totalrevenue,
                    borderColor: "#ec8888",
                    fill: false
                }, {
                    label: "Total orders",
                    data: totalorder,
                    borderColor: "#6bcbe0",
                    fill: false
                }, {
                    label: "Total Users",
                    data: totaluser,
                    borderColor: "#56dead",
                    fill: false
                }]
            },
            options: {
                legend: { display: false }
            }
        });

        // document.getElementById('download-pdf').addEventListener("click", downloadPDF);
        //donwload pdf from original canvas
        
            $('#download-pdf').click(function (event) {
                // get size of report page
                var reportPageHeight = $('.chart').innerHeight();
                var reportPageWidth = $('.chart').innerWidth();

                // create a new canvas object that we will populate with all other canvas objects
                var pdfCanvas = $('<canvas />').attr({
                    id: "canvaspdf",
                    width: reportPageWidth,
                    height: reportPageHeight
                });

                // keep track canvas position
                var pdfctx = $(pdfCanvas)[0].getContext('2d');
                var pdfctxX = 100;
                var pdfctxY = 100;
                var buffer = 200;

                // for each chart.js chart
                $("canvas").each(function (index) {
                    // get the chart height/width
                    var canvasHeight = $(this).innerHeight();
                    var canvasWidth = $(this).innerWidth();

                    // draw the chart into the new canvas
                    pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
                    pdfctxX += canvasWidth + buffer;

                    // our report page is in a grid pattern so replicate that in the new canvas
                    if (index % 2 === 1) {
                        pdfctxX = 0;
                        pdfctxY += canvasHeight + buffer;
                    }
                });

                // create new pdf and add our new canvas as an image
                var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
                pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);

                // download the pdf
                pdf.save('canvas.pdf');
            });
           
        
    </script>
    <script>

$({ Counter: 0 }).animate({
  Counter: $('#Single').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single').text(Math.ceil(this.Counter));
  }
});
$({ Counter: 0 }).animate({
  Counter: $('#Single1').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single1').text(Math.ceil(this.Counter));
  }
});
$({ Counter: 0 }).animate({
  Counter: $('#Single2').text()
}, {
  duration: 1000,
  easing: 'swing',
  step: function() {
    $('#Single2').text(Math.ceil(this.Counter));
  }
});
    </script>


<!-- <script>

    const addadminbtn = document.getElementById('addadmin');

    addadminbtn.addEventListener('click',async (e)=>{
        e.preventDefault();

       await fetch('/addadmin',{
            method:'GET'
        })
    })

</script>
 -->
