<section class="login col-md-4">
    <h3 class="text-white mt-3 mb-3">Login</h3>
    <i class="fa-solid fa-lock"></i>
    <form id="loginform">
        <div class="label">
            <label for="username">Email</label>
            <input type="text" name="email">
            <div class="emailerror text-danger mt-3 h5"></div>
        </div>
        <div class="label">
            <label for="username">Password</label>
            <input type="password" name="password">
            <div class="passworderror text-danger mt-3 h5"></div>
        </div>
        <div class="label">
            <button type="submit" id="loginbtn">Log in</button>
        </div>

    </form>

</section>



<script>
    const adminform = document.getElementById('loginform');
    const loginbtn = document.getElementById('loginbtn');

    loginbtn.addEventListener('click',async (e)=>{
        e.preventDefault();
        
        const email = adminform.email.value;
        const password = adminform.password.value;

       
        const emailError = document.querySelector('.emailerror');
        const passwordError = document.querySelector('.passworderror');

            
            emailError.textContent = '';
            passwordError.textContent = '';
try{
    const res = await fetch('/admin',{
            method:'POST',
            body:JSON.stringify({email,password}),
            headers:{'Content-Type':'application/json'}
           }).catch(e => console.log(e));
           const data = await res.json();
           if(data.errors){
               emailError.textContent = data.errors.email;
               passwordError.textContent = data.errors.password;

           }
           if(data.admin){
               location.assign('/adminhome');
           }
        
}catch(err){
    console.log(err);
}
})      
</script>