<section id="menu-bar">
    <div>

        <div class="menu col-md-2">
            <h1 class="logo">GOGGLES</h1>
<% if(locals.admin) { %>
            <div class="photocard">
                <i class="fa-solid fa-user"></i>
            </div>

            <h5>admin</h5>

            <div class="admin-menu">
                <div class="menu-list">
                    <div class="menu-item">
                        <i class="fa-solid fa-house"></i>
                        <h6><a href="/adminhome" class="side-menu">Dashboard</a></h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-gear"></i>
                        <h6><a href="/productlist/?page=1" class="side-menu">Products</a> </h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-user-group"></i>
                        <h6><a href="/userlist" class="side-menu">User</a></h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-plus"></i>
                        <h6><a href="/addproduct" class="side-menu">Add Product</a></h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-plus"></i>
                        <h6><a href="addbanner.html" class="side-menu">Add Banner</a></h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-database"></i>
                        <h6><a href="/orderhistory" class=" side-menu">Order History</a></h6>

                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-message"></i>
                        <h6><a href="" class=" side-menu">Inbox</a></h6>

                    </div>
                </div>


            </div>

            <% } %>
        </div>

    </div>


</section>

<script>
    let list = document.querySelectorAll(".side-menu");
    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
                list[j].classList.remove("active");
                list[j].classList.add("side-menu");
                j++;
            }
            list[i].classList.remove("side-menu")
            list[i].classList.add("active")
        }
    }
</script>