<header>
    <div class="row">
        <div class="col-md-3 top-info text-left mt-lg-4">
            <h6>Need Help</h6>
            <ul>
                <li>
                    <i class="fas fa-phone"></i> Call
                </li>
                <li class="number-phone mt-3">080034523723</li>
            </ul>
        </div>
        <div class="col-md-6 logo-w3layouts text-center">
            <h1 class="logo-w3layouts">
                <a class="navbar-brand" href="#">
                    Goggles </a>
            </h1>
        </div>


        <% if(locals.user){ %>
            <div class="col-lg-3 text-right d-flex justify-content-between align-items-center">
            <div class="dropdown ">
                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <%= user.fname %>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-danger" href="/useraccount">Account</a></li>
                    <li><a class="dropdown-item text-danger" href="/logout">logout</a></li>
                </ul>
            </div>
            <div>
                <a href="/wishlist" class="text-danger d-none d-md-block"> Wishlist<i class="fa-regular fa-heart mx-2"></i></a>
            </div>
            
                <ul class="cart-inner-info mb-0 d-none d-md-block">
                    <li class="galssescart galssescart2 cart cart box_1 ">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="display" value="1">
                            <button class="top_googles_cart" type="submit" name="submit" value="">
                                My Cart
                                <i class="fas fa-cart-arrow-down"></i>
                            </button>
                        </form>
                    </li>
                   
                </ul>
            </div>
            <% } else { %>

            <div class="col-md-2 text-right navbar">
                        <a class="btn-open-signup nav-link text-danger" href="/signup">
                            <span aria-hidden="true">Signup</span>
                        </a>
                    
                   
                        <a class="btn-open-login nav-link text-danger" href="/login">
                            <span aria-hidden="true">Login</span>
                        </a>
                   
                   
               
            </div>
               
            
               
                <% } %>
               

                    <!-- signup post method -->

                    <!---->
               
    </div>

    <!-- <div class="search">
        <div class="mobile-nav-button">
            <button id="trigger-overlay" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div> -->
    <!-- open/close -->
    <!-- <div class="overlay overlay-door">
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <form action="#" method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Search here..." required="">
                <button type="submit" class="btn btn-primary submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div> -->
    <!-- open/close -->
    <!-- </div>  -->

    <label class="top-log mx-auto"></label>
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-mega mx-auto">
                <li class="nav-item active">
                    <a class="nav-link ml-lg-0" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="shop.html">Shop</a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

        </div>
    </nav>

</header>

<!-- <script>
    
    
    const form = document.querySelector('form');
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();

        
    const fnameError = document.querySelector('.fname.error');
    const lnameError = document.querySelector('.lname.error');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const phoneError = document.querySelector('.phone.error');


        const email = document.getElementsByName('email').value
        console.log(email);
        const fname = document.getElementsByName('fname').value
        const lname = document.getElementsByName('lname').value
        const password = document.getElementsByName('password').value
        const phone = document.getElementsByName('phone').value

        try{
            const res = await fetch('/signup',{
                method:'POST',
                body:JSON.stringify({fname,lname,email,password,phone}),
                headers : {'Content-Type':'application/json'}

            });
            const data = await res.json();
            if(data.errors){
                fnameError.textContent = data.errors.fname;
                lnameError.textContent = data.errors.lname;
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
                phoneError.textContent = data.errors.phone;

            }

        }catch(err){
               console.log(err);
        }

    })

</script> -->