<section class="mt-5 mb-5 ">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 mt-5">
                <h4 class="text-center mb-5 mt-5">Reset password</h4>
                    <form action="/passwordreset/<%= user._id %>" method="post" id="formpwdreset">
                        <div class="form-group">
                            <label for="" class="col-sm-3 col-form-label mb-2">Old Password</label>
                            <input type="password" name="oldpassword" class="form-control">
                         </div>
                         <div class="form-group">
                            <label for="" class="col-sm-3 col-form-label mb-2">New Password</label>
                            <input type="password" name="newpassword" class="form-control">
                         </div>

                         <div class="text-right">
                            <button type="submit" class="btn btn-dark mb-2 mt-5">Change password</button>
                         </div>
                    </form>
                    
                <div id="successmessage" class="p-5 d-none" style="border:1px solid green">
                    <h4 class="text-center" > Your account password was changed</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    let form = document.getElementById('formpwdreset');
    form.addEventListener('submit',(e)=>{
        e.preventDefault();


        
    })
</script>