<section class="mt-5 mb-5 ">
    <div class="container">
        <div id="successmessage" class="p-2 text-white mb-5 mt-5" style="background-color: rgb(149, 236, 149); display: none;">

           
            <!-- <h4 class="text-center" > </h4> -->
        </div>
        
        <button class="btn btn-dark mt-5 mb-5 text-right text-white" id="backbtn" style="display: none;"> <a href="/useraccount/<%= user._id %>">Back to Account</a></button>
        <div class="row">
            <div class="col col-md-8 mt-5 mb-5 mx-auto"> 
                
                    <form  id="formpwdreset">
                        <h4 class="text-center mb-5 mt-5">Reset password</h4>
                        <div class="form-group">
                            <label for="" class="col-sm-3 col-form-label mb-2">Old Password</label>
                            <input type="password" name="oldpassword" class="form-control">

                            <div class="text-danger mt-5" id="pwdError"></div>
                         </div>
                         <div class="form-group">
                            <label for="" class="col-sm-3 col-form-label mb-2">New Password</label>
                            <input type="password" name="newpassword" class="form-control">
                         </div>
                         <div style="display: none;">
                            <p id="userid" style="display: none;"><%= user._id %></p>

                         </div>
                         
                         <div class="text-right">
                            <button  class="btn btn-dark mb-2 mt-5" id="changepassword">Change password</button>
                         </div>
                    </form>
                    
                   
            </div>
        </div>
       
    </div>
</section>


<script>
    let formaction = document.getElementById('formpwdreset');
    let pwdbtn = document.getElementById('changepassword');
    let successmessage = document.getElementById('successmessage');
    let message = "Your account password was changed"
    let backbtn = document.getElementById('backbtn');
    let pwderror = document.getElementById('pwdError');
   
    pwdbtn.addEventListener('click',async (e)=>{
        e.preventDefault();
        try{
            let oldpassword = formaction.oldpassword.value;
            let newpassword = formaction.newpassword.value;
            let userid = document.getElementById('userid').textContent;
            //console.log();
           // let userid = document.getElementById('userid').value;

            const res = await fetch('/passwordreset',{
                method: 'POST',
                body: JSON.stringify({oldpassword,newpassword,userid}),
                headers: { 'Content-Type': 'application/json' }

               


        })
        let data = await res.json();
        console.log(data);

        if(data.user){
            successmessage.style.display = 'block';
            backbtn.style.display = 'block';
            successmessage.textContent = message;
            formaction.style.display = 'none';
            

        }else{
            let message = data.message;
            console.log(message);
            pwderror.textContent = message;
        }
    
    }
    catch(err){

        }


        
    })
</script>