<div class="container mx-auto w-100 mb-5 text-left ">
    <!-- <button type="button" class="overlay-close1-signup">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button> -->
    <div class="wrap">
        <h5 class="text-center mb-4" style="color: #dc3545;">signup Now</h5>
        <div class="login p-5 bg-dark w-100 row display-flex">
            <div class="col-md-6">
                <img src="/images/team3.jpg" alt="">
            </div>
            
            <form id="signup" class="col-md-6 px-5">
                
                <div class="form-group">
                    <label class="mb-2">Full Name</label>
                    <input type="text" class="form-control" id="fName" placeholder="" name="fname" >
               
                    <div class="fname error text-danger mt-3 h5"></div>
                   
                </div>
                
                <div class="form-group">
                    <label class="mb-2">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="" >
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    
                    <div class="email error text-danger mt-3 h5"></div>
                </div>
                <div class="form-group">
                    <label class="mb-2">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="" >
                    
                    <div class="password error text-danger mt-3 h5"></div>
                </div>
                <div class="form-group">
                    <label class="mb-2">Phone number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="">
                    
                    <div class="phone error text-danger mt-3 h5"></div>
                </div>
                <div class="text-right mt-5">
                <button id="subbtn" class="btn  mb-4" style="background-color: #dc3545;">Sign up</button>
            </div>
            </form>
            <form id="otp"  style="display: none;" class="col-md-6 px-5">
                <div class="form-group">
                   
                    <input type="text" class="form-control" id="otpinp" placeholder="" name="otpvalue" >
                    <label class="mb-2 mt-2">Enter OTP for verification</label>
                   
                </div>
        
                <div class="text-center">
                    <!-- Button HTML (to Trigger Modal) -->
                    <a href="#myModal" class="btn btn-danger" data-toggle="modal" id="otpbtn">verify</a>
                </div>
                
               
               
                

            </form>
            <!-- <div class="responsetext mt-3 h1 text-right" style="color: #04a704; border:1px solid #dc3545;margin-left: 200px;"></div> -->

           
    </div>
</div>
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>				
            </div>
            <div class="modal-body">
                <p class="text-center responsetext h5"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>     
</div>
<!---->




<script> 
const form = document.querySelector('#signup');
const btn = document.getElementById('subbtn');
const otpform = document.getElementById('otp');
const otpbtn = document.getElementById('otpbtn');

 btn.addEventListener('click',async (e)=>{
    e.preventDefault();
    
const fnameError = document.querySelector('.fname');
const emailError = document.querySelector('.email');
const passwordError = document.querySelector('.password');
const phoneError = document.querySelector('.phone');

            fnameError.textContent = '';
            emailError.textContent = '';
            passwordError.textContent = '';
            phoneError.textContent = ''; 



    const fname = form.fname.value;
    const email = form.email.value;
    const password = form.password.value;
    const phone = form.phone.value;
   


    try{
        const res = await fetch('/signup',{
            method:'POST',
            body:JSON.stringify({fname,email,password,phone}),
            headers : {'Content-Type':'application/json'}

        });
       
        const data = await res.json();
        if(data.errors){
            fnameError.textContent = data.errors.fname;
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;
            phoneError.textContent = data.errors.phone;

        }
        if(data.user){
            console.log(data.user.phone);
            const phone = data.user.phone;

           const response = await fetch('/sendnotification',{
               method:'POST',
               body:JSON.stringify({phone:phone}),
               headers:{'Content-Type':'application/json'}
           }).catch(e => console.log(e));

           if(response.ok){
            form.style.display = 'none';
            otpform.style.display = 'block';
           }
            
            
            otpbtn.addEventListener('click',async (e)=>{
                e.preventDefault();

                const otpInpValue = otpform.otpvalue.value;
                const responseText = document.querySelector('.responsetext');

                const otpData = {
                    phonenumber:data.user.phone,
                    email:data.user.email,
                    otp:otpInpValue
                };
                try{

                    const response = await fetch('/verify-otp',{
                    method:'POST',
                    headers:{'Content-Type':'application/json','Accept':'application/json'},
                    body:JSON.stringify(otpData)
                   
                });
                console.log(response+"hoi");
                const check = await response.json();
                console.log(check+"hai");
                // 
                
                
                responseText.textContent = check;
                console.log("hai please print "+ check);
                otpform.style.display = 'none';
                //responseText.style.display = 'block';

                setTimeout(() => {
                    location.assign('/login');
    
               },3000);
               

                
               
                }catch{(e => console.log(e))};

               
            });
        }

    }catch(err){
           console.log(err);
    }

}) 
 

 </script> 