<div class="container mt-5 mb-5 p-5" style="background-color: rgb(60, 61, 57);">
    <div class="row gutters-sm">
        <div class="col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              </div>
            </div>
          </div>
          <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="/passwordreset" class="link-danger"> Change Password</a> 
                </li>
                <li class="list-group-item">
                   <a href="/orderhistory">Order History</a> 
                </li>
                <li class="list-group-item">
                   <a href="/addaddress"> Add Address</a>
                </li>
                <li class="list-group-item">
                   <a href="/mycart">My Cart</a> 
                </li>
                <li class="list-group-item">
                   <a href="/wishlist">Wishlist</a> 
                </li>
                <li class="list-group-item">
                    <a href="/logout">Logout</a> 
                </li>
              </ul>

          </div>
       </div>
   
<div class="col-md-9">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Full Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Kenneth Valdez
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            fip@jukmuh.al
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            (239) 816-9029
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Bay Area, San Francisco, CA
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>